<div class="container-fluid">
    <div class="row my-4">
        <div class="col-12">
            <h1 class="text-center">SOBRE NOSOTROS</h1>
            <p>Somos un club de fútbol apasionado y sin límites. Aquí te acogeremos como mejor sabemos. Tendrás la oportunidad de
                formar parte de nuestra familia con un simple paso como es rellenar unos datos. 
                Queremos que estés lo más al día posible de la informacion de nuestro club y de todo este mundillo del fútbol, 
                que puedas reservar campos para practicar este deporte tan bonito y que tanto nos apasiona.   
            </p>
            <p>
                Aquí abajo te dejamos toda nuestra informacion:
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-4">
            <h5 class="text-center fw-bold">CONTACTO</h5>
            <div class="list-group ">
                
                <a href="#" class="list-group-item list-group-item-action my-3" aria-current="true">
                  Envie un correo a <a class="link">soportemanchesterpiti@gmail.com</a>
                </a>
                <a href="#" class="list-group-item list-group-item-action my-3">Llámenos al +34 654 10 55 65</a> 
                
            </div>
        </div>
        <div class="col-4">
            <h5 class="text-center fw-bold">CONDICIONES LEGALES</h5>
            <div class="list-group ">

                <a href="#" class="list-group-item list-group-item-action my-3" >Aviso Legal</a>
                <a href="#" class="list-group-item list-group-item-action my-3">Política de privacidad</a> 
                <a href="#" class="list-group-item list-group-item-action my-3">Política de cookies</a>
                <a href="#" class="list-group-item list-group-item-action my-3">Política de privacidad</a>
                <a href="#" class="list-group-item list-group-item-action my-3">Condiciones de uso</a> 
                 
                
            </div>
        </div>
        <div class="col-4">
            <h5 class="text-center fw-bold">MI CUENTA</h5>
            <div class="list-group ">

                <a href="#" class="list-group-item list-group-item-action my-3" >Mi cuenta</a>
                <a href="#" class="list-group-item list-group-item-action my-3">Cerrar Sesion</a> 
                 
            </div>
        </div>
    </div>

</div>
