<div class="module-content mt0">
  <section class="mod-noticia mod-plantilla">
    <h3><strong>PLANTILLA / MANCHESTER PITI FC </strong> </h3>
    <h5>Entrenador: Bartolomé <strong>"Peque"</strong></h5>


    <div class="inner-content text-center">

        <h3 class="cargo_plantilla row"><b>Portero</b></h3>
        <div>
        <div class="col-4 justify-content-center mx-auto">
          <div class="card m-5" style="max-width: 300px;">
              <div class="card-header">
                  PORTERO 
              </div>

                <div class="text-center">
                  <div class="card-body">
                    <h3 class="card-title">13</h3>
                    <p class="card-text">Luis</p>
                    <strong>Junior</strong>
                  </div>
                </div>
           </div>
      </div>
    </div>     

        <h3 class="cargo_plantilla text-center"><b>Defensa</b></h3>
        <div>
          <div class="container-fluid">

            <div class="row">
                <div class="col-4">
                    <div class="card m-5" style="max-width: 200px;">
                        <div class="card-header">
                            DEFENSA 
                        </div>

                          <div class="text-center">
                            <div class="card-body">
                              <h3 class="card-title">17</h3>
                              <p class="card-text">Jose</p>
                              <strong>Atanet</strong>
                             
                            </div>
                          </div>
                     </div>
                </div>
                <div class="col-4">
                  <div class="card m-5" style="max-width: 200px;">
                      <div class="card-header">
                          DEFENSA 
                      </div>

                        <div class="text-center">
                          <div class="card-body">
                            <h3 class="card-title">9</h3>
                            <p class="card-text">Alejandro</p>
                            <strong>Miranda</strong>
                           
                          </div>
                        </div>
                   </div>
              </div>
              <div class="col-4">
                <div class="card m-5" style="max-width: 200px;">
                    <div class="card-header">
                        DEFENSA 
                    </div>

                      <div class="text-center">
                        <div class="card-body">
                          <h3 class="card-title">18</h3>
                          <p class="card-text">Jonathan</p>
                          <strong>Landeta</strong>
                         
                        </div>
                      </div>
                 </div>
            </div>
            </div>
    
        </div>
        </div>


       
        <h3 class="cargo_plantilla text-center"><b>Mediocentros</b></h3>
        <div class="container-fluid">

          <div class="row">
              <div class="col-4">
                  <div class="card m-5" style="max-width: 200px;">
                      <div class="card-header">
                          MEDIOCENTRO 
                      </div>

                        <div class="text-center">
                          <div class="card-body">
                            <h3 class="card-title">11</h3>
                            <strong class="card-text">Mario</strong>
                            <p>Alcaide</p>
                           
                          </div>
                        </div>
                   </div>
              </div>
              <div class="col-4">
                <div class="card m-5" style="max-width: 200px;">
                    <div class="card-header">
                        MEDIOCENTRO 
                    </div>

                      <div class="text-center">
                        <div class="card-body">
                          <h3 class="card-title">22</h3>
                          <strong class="card-text">Samuel ©</strong>
                          <p>Gil</p>
                         
                        </div>
                      </div>
                 </div>
            </div>
            <div class="col-4">
              <div class="card m-5" style="max-width: 200px;">
                  <div class="card-header">
                      MEDCIOCENTRO 
                  </div>

                    <div class="text-center">
                      <div class="card-body">
                        <h3 class="card-title">21</h3>
                        <p class="card-text">David</p>
                        <strong>Alonso</strong>
                       
                      </div>
                    </div>
               </div>
          </div>
          </div>
  
      </div>



        <h3 class="cargo_plantilla text-center"><b>Delanteros</b></h3>
        <div class="container-fluid text-center">

          <div class="row text-center">
              <div class="col-6">
                  <div class="card m-5" style="max-width: 200px;">
                      <div class="card-header">
                          DELANTERO 
                      </div>

                        <div class="text-center">
                          <div class="card-body">
                            <h3 class="card-title">8</h3>
                            <strong class="card-text">Guillermo</strong>
                            <p>Carretero</p>
                           
                          </div>
                        </div>
                   </div>
              </div>
              <div class="col-6">
                <div class="card m-5" style="max-width: 200px;">
                    <div class="card-header">
                        DELANTERO 
                    </div>

                      <div class="text-center">
                        <div class="card-body">
                          <h3 class="card-title">20</h3>
                          <strong class="card-text">Ivan</strong>
                          <p>Tena</p>
                         
                        </div>
                      </div>
                 </div>
            </div>
            <div class="col-6">
              <div class="card m-5" style="max-width: 200px;">
                  <div class="card-header">
                      DELANTERO 
                  </div>

                    <div class="text-center">
                      <div class="card-body">
                        <h3 class="card-title">21</h3>
                        <strong class="card-text">Adrian</strong>
                        <p>Rodriguez</p>
                       
                      </div>
                    </div>
               </div>
          </div>
          <div class="col-6">
            <div class="card m-5" style="max-width: 200px;">
                <div class="card-header">
                    DELANTERO 
                </div>

                  <div class="text-center">
                    <div class="card-body">
                      <h3 class="card-title">10</h3>
                      <p class="card-text">Javier</p>
                      <strong>Mejorada</strong>
                    </div>
                  </div>
             </div>
        </div>
          </div>
  
      </div>
      </div>





      <!-- /#wrapper -->
